<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01_Start.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>02_DrawLine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>02_Put_Pixel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>02_Sierpinski.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>03_PolygonClipping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>04_SimpleShader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>04_Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>05_Das_Haus_Vom_Nikolaus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>05_Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>06_Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>06_Terrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>07_MultipleViewports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>07_Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>08_Phong.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>08_Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>09_FlightSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>09_Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>10_Balloonflight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>11_Raytracer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>11_Solution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CG1_Tools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CVK_1_Minimal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SHADERS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>SimpleImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03DEA9993CD8474BBAB4AB94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1449093DDEA04324A15D150C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17D8408694524E0B90A5855A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23E834D1472349AE8EE96D92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26DC8E5A34424E338D45DA68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316C806564354BD5B8ED47B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E8661AC5C7413F86660BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A276B85FE754E53B26CAE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A67AF85D49E44C7AE4B275C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F72996889844B8FA1B370C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F77DAD4F614128BC6ED57D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA94C847500426DAF950627</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C654BA1EF0E41B1A989E33D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72F41BAEC827422797F279FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764E2B6B201D4432B999B3AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BEB4F97711D46DF9403E3C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>869DD6F04BA14EAA99E8508E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94117F94E5A24FCEB1D79EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7AD0908C51D4880B00C2A95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB45A33801424546A86737C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2FF5738CA049A3A5BC663F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CECD661931FA45B68196BBA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAA0DFB32DE64FE6AAAB4FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E38422B2C90B49FCB6DD1F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB1D2B3C30E14785A2DAC0BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9887C986624321BA944227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
